:root {
  --main-bg-color: #c0ffff;
  --main-width: 150px;
}

@media screen and (min-width: 300px) {
  :root {
    --main-bg-color: #c0ffff;
    --main-width: 150px;
  }
}

@media screen and (min-width: 400px) {
  :root {
    --main-bg-color: #c0ffff;
    --main-width: 200px;
  }
}

@media screen and (min-width: 600px) {
  :root {
    --main-bg-color: #c0c0ff;
    --main-width: 400px;
  }
}

@media screen and (min-width: 800px) {
  :root {
    --main-bg-color: #ffc0c0;
    --main-width: 600px;
  }
}

body {
  font: 14px "Century Gothic", Futura, sans-serif;
  background: var(--main-bg-color, #e0e0e0);
  margin: 20px;
  /* width: var(--main-width, 500px); */
  overflow: scroll;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  color: red;
  background-color: yellow;
  border-radius: 20px;
  border: solid 4px purple;
  text-align: center;
}

.calc-panel {
  flex-direction: row;
}

.calc-panel-row {
  display: flex;
  flex-direction: row;
}

.calc-button {
  flex-grow: 1;
  background-color: yellow;
  width: 40px;
  height: 40px;
  font-size: 18px;
  font-weight: bold;
}

.calc-display-container {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  height: 40px;
  border: solid 0px black;
}

.calc-display {
  flex-grow: 1;
  font-size: 24px;
  font-weight: bold;
  text-align: right;
  margin: 0px;
  width: 100px;
}

.calc-history {
  flex-grow: 1;
  height: 200px;
  border: solid 2px black;
  font-size: 18px;
  font-weight: bold;
  text-align: right;
  overflow-y:scroll;
  background-color: lightgrey;
}

.calc-message {
  display: inline-flex;
  flex-direction: row;
  border: solid 2px black;
}

.message-line {
  flex-grow: 1;
  background-color: lightgrey;
  font-size: 12px;
  font-weight: bold;
  margin: 0px;
  height: 20px;
}

.calculator {
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 400px;
  margin: auto;
  border: solid 2px black;
}

.history-line {
  margin: 0px;
}

.good-formula {
  border: solid 2px green;
  color: green;
  background-color: palegreen;
}

.bad-formula {
  border: solid 2px red;
  color: red;
  background-color: lightpink;
}

.blue-border {
  border: dashed 3px blue;
}

.red-border {
  border: dashed 3px red;
}

.orange-border {
  border: dashed 3px orange;
}

.green-border {
  border: dashed 3px green;
}

.pink-border {
  border: dashed 3px pink;
}

.yellow-border {
  border: dashed 3px yellow;
}